body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header > .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header, .hero , .footer {
    background-color: #1F2937;   
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;
}

.hero-header {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-text, .header > .links {
    font-size: 18px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.signup {
    background-color: #3882F6;
}

img {
    max-width: 200px;
    max-height: auto;
}